name: Build and Test

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node:
                    - '14'
                    - '16'
                    - '17'

        steps:
            - uses: actions/checkout@v2

            - uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node }}

            - run: npm i -g npm@7 --registry=https://registry.npmjs.org
            - run: npm run setup
            - run: npm test
            - run: npm run build

            - uses: codecov/codecov-action@v2
              with:
                  files: ./coverage/unit/clover.xml,./coverage/integration/clover.xml
                  fail_ci_if_error: true
                  verbose: true
